<div class="grid grid-cols-9 -mt-48 trio-container">
  <a href="/community" class="trio xs:col-span-9 lg:col-span-3">
    <div class="flex flex-col items-center text-center">
      <img src="img/participate.svg" class="pb-5 trio-img"/>
      <p><strong>Participate</strong> in the technical community</p>
    </div>
  </a>
  <a href="/join" class="trio xs:col-span-9 lg:col-span-3">
    <div class="flex flex-col items-center text-center">
      <img src="img/member.svg" class="pb-5 trio-img"/>
      <p>Become a <strong>Member Organization</strong> and support the Cloud Security Corner Community Initiative</p>
    </div>
  </a>
  <a href="/community/roadmap" class="trio xs:col-span-9 lg:col-span-3">
    <div class="flex flex-col items-center text-center">
      <img src="img/schedule.svg" class="pb-5 trio-img"/>
      <p> The Utimate Roadmap for <b> For Learning Cloud Security  </b> </p>
    </div>
  </a>
</div>
