{{- $githubApiBase := "https://api.github.com/repos/" -}}

<div id="categoryGrid" class="container mx-auto">
  {{- range $index, $categoryData := .Site.Data.tools }}
  <div class="category-section mb-12">
    <h2 class="text-3xl font-semibold mt-12 mb-6 category-title text-gray-800 dark:text-gray-200 border-b-2 border-gray-200 dark:border-gray-700 pb-2">
      {{ $categoryData.category }}
    </h2>
    <div class="hx-grid md:hx-grid-cols-2 lg:hx-grid-cols-3 hx-gap-6 category-grid">
      {{ range $index, $tool := $categoryData.tools }}
      {{- $isGithubRepo := false -}}
      {{- $stars := 0 -}}
      {{- $repoPath := "" -}}

      {{- if strings.Contains $tool.url "github.com" -}}
      {{- $isGithubRepo = true -}}
      {{- $repoPath = replace $tool.url "https://github.com/" "" -}}
      {{- if strings.Contains $repoPath "/" -}}
      {{- $apiURL := printf "%s%s" $githubApiBase $repoPath -}}
      {{- $tryResponse := try (resources.GetRemote $apiURL) -}}
      {{- if $tryResponse -}}
      {{- $response := $tryResponse.Value -}}
      {{- if eq $response.MediaType.SubType "json" -}}
      {{- $jsonData := $response | transform.Unmarshal -}}
      {{- $stars = $jsonData.stargazers_count -}}
      {{- end -}}
      {{- end -}}
      {{- else -}}
      {{- $isGithubRepo = false -}}
      {{- end -}}
      {{- end -}}

      {{- $cardParams := dict "link" $tool.url "title" $tool.name "subtitle" $tool.description "isGithubRepo" $isGithubRepo "stars" $stars -}}
      {{- partial "shortcodes/card.html" $cardParams -}}
      {{ end }}
    </div>
  </div>
  {{ end }}
</div>

<script>
  const searchInput = document.getElementById('categorySearch');
  const categoryTitles = document.querySelectorAll('.category-title');
  const categoryGrids = document.querySelectorAll('.category-grid');
  const cards = document.querySelectorAll('.hextra-card');
  const categorySections = document.querySelectorAll('.category-section');

  searchInput.addEventListener('input', () => {
    const searchTerm = searchInput.value.toLowerCase();

    categorySections.forEach((section, index) => {
      const title = section.querySelector('.category-title');
      const grid = section.querySelector('.category-grid');
      const categoryName = title.textContent.toLowerCase();
      let categoryVisible = false;

      if (categoryName.includes(searchTerm)) {
        categoryVisible = true;
      }

      const categoryCards = grid.querySelectorAll('.hextra-card');
      categoryCards.forEach(card => {
        const cardTitle = card.querySelector('.font-semibold').textContent.toLowerCase();
        const cardSubtitle = card.querySelector('.hextra-card-subtitle').textContent.toLowerCase();
        if (cardTitle.includes(searchTerm) || cardSubtitle.includes(searchTerm)) {
          categoryVisible = true;
          card.style.display = 'block';
        } else {
          card.style.display = 'none';
        }
      });

      if (categoryVisible) {
        section.style.display = 'block';
      } else {
        section.style.display = 'none';
      }
    });
  });
</script>
